Public Class Form1
    Private Sub Button1_Click(sender As Object, e As EventArgs) Handles Button1.Click
        If My.Computer.Network.IsAvailable Then 'Current connection used on the computer
            MsgBox("Connected to Internet")
        Else
            MsgBox("Sorry, you were unable to connect")
        End If
    End Sub

    Private Sub Button2_Click(sender As Object, e As EventArgs) Handles Button2.Click
        MsgBox("Please test your internet connection with this app")
        MsgBox("Troubleshoot your connection find the issue, this should be on your PC")
        MsgBox("Thank you and please enjoy the world of Internet and web browsing :)")
    End Sub

    Private Sub InternetTester_Load(sender As Object, e As EventArgs) Handles MyBase.Load

    End Sub

    Private Sub CloseButton_Click(sender As Object, e As EventArgs) Handles CloseButton.Click
        Me.Close()
    End Sub
End Class
